@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Roboto;
  src: url(../public/Roboto-Regular.ttf);
}
body {
  font-family: Roboto;
  overflow-x: hidden;
}

/* TOP.JS START */
.main_top {
  background-color: rgba(238, 138, 30);
  padding: 9px 0px 1px 0px;
  text-align: center;
 
}

.main_top .saving {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 600;
}
.main_top .saving span {
  display: inline;
}
.main_top .saving span .btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 13px;
  --bs-btn-padding-x: -0.5rem;
  padding: 3px 5px;
  font-weight: 600;
}
.main_top .saving span .btn:hover {
  background-color: rgba(238, 138, 30);
  color: #fff;
}
/* END */
/* HEADER.JS START */
.header {
  background-color: #000;
  color: #fff;
}
.header .f_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .f_container .f_item {
  margin: 0 20px;
}
.header .f_container .f_item ul {
  list-style: none;
  display: flex;
  font-size: 14px;
}
dl,
ol,
ul {
  margin-bottom: 0;
}
.header .f_container .f_item ul .about {
  margin: 0px 26px;
  position: relative;
}
.header .f_container .f_item ul .about::after {
  position: absolute;
  right: -26px;
  top: 0;
  bottom: 0;
  content: "";
  width: 2px;
  height: 15px;
  background-color: #fff;
  margin-top: 3px;
}
.header .f_container .f_item ul .about:last-child::after {
  display: none;
}
.header .f_container .f_item1 {
  margin: 0 5rem;
}
.header .f_container .f_item1 .btn {
  background-color: orangered;
  text-transform: uppercase;
  --bs-btn-padding-x: 2.75rem;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  border: 0;
  transition: 0.5 ease;
  margin-right: 20px;
}
/* END */
/* NAVBAR.JS START */

.max{
  padding: 20px 2rem;

}
.max .sell {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 58px;
}
.max .logo img {
  width: 150px;
}

.max .navbar-expand-lg .navbar-nav .nav-link {
  color: #000;
  font-weight: 600;
  /* font-size: 15px; */
  /* margin: 0 4px; */
}

/* .max .navbar-expand-lg .navbar-nav .active{
  color:rgba(238, 138, 30);
} */

.max .navbar-expand-lg .navbar-nav .review {
  margin: 5px 17px 6px 4px;
  background-color: rgba(238, 138, 30);
  padding: 3px 10px;
  border-radius: 6px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 14px;
  border: 0;
}

.max .navbar-expand-lg .navbar-nav .reviews {
  --tw-bg-opacity: 1;

  background-color: rgba(0, 87, 158, var(--tw-bg-opacity));
  margin: 5px 17px 6px 4px;
  padding: 3px 9px;
  border-radius: 6px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 14px;
  outline: none;
  box-shadow: none;
  border: none;
}

.max .navbar-expand-lg .navbar-nav .reviews:active {
  box-shadow: none;
}

.max .navbar-expand-lg .navbar-nav .reviews:focus {
  border: 0;
  box-shadow: none;
}

.max .navbar-expand-lg .navbar-nav .Ci_search {
  margin-top: 10px;
  --tw-text-opacity: 1;
  color: rgba(158, 158, 158, var(--tw-text-opacity));
  cursor:pointer;
}
.max .navbar-expand-lg .icons {
  --tw-text-opacity: 1;
  color: rgba(158, 158, 158, var(--tw-text-opacity));
  /* padding:0px 10px; */
  margin: 0px 8px;
}
/* END */
.center {
  width: 100%;
}
.show1 {
  display: flex;
  justify-content: center;
  padding: 31px 0px;
}
.show1 .btn {
  background-color: #fff;
  color: #000;
  border: 2px solid orangered;
  padding: 20px 14px;
  font-size: 20px;
  border-radius: 0;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.show1 .y_tube{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.show1 .y_tube .youtube{
  margin: 0 10px;
  color: orangered;
}
.show1 .y_tube p{
  margin-bottom: 0;
}
.show1 .btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border: 0;
  background-color: #fff;
  color: #000;
  border: 2px solid orangered;
}
.modal-header {
  border-bottom: 0;
}
.modal-header .btn-close {
  padding: 0;
  position: absolute;
  top: 8px;
  bottom: 0;
  right: 8px;
  background-color: orangered;
  height: 30px;
  width: 34px;
}

.thomas {
  margin: -8px 14px 14px 14px;
  border: 1px solid #f1f1f1;
}
.thomas .addition {
  font-weight: 600;
  font-size: 15px;
}
.thomas .training {
  font-size: 14px;
}
.thomas .training span {
  font-weight: 600;
  letter-spacing: 1px;
}
.arrow {
  padding: 0px 8rem;
}
.slick-prev {
  left: 104px;
}
.slick-next {
  right: 126px;
}
 .slick-next:before {
  color: red;
  /* content: '<'; */
  /* font-size: 61px; */
 }
.slick-prev:before {
  color: red;
}
  

.safety {
  text-align: center; 
  padding: 45px 0px 10px 0px;
  /* width:50%; */
}

.safety .priority {
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 1px;
}
.safety .need {
  font-size: 22px;
  margin-bottom: 30px;
}
.safety .video {
  border-radius: 15px;
}

/* // slider css */
.max1 {
  padding: 3px 4rem;
}
.max1 .sell{
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 28px;

}
.slick-next {
  background-image: url("https://www.oshaonlinecenter.com/images/right.png") !important;
  display: block;
  right: -50px !important;
  height: 41px !important;
  width: 50px !important;
  filter: invert(0) sepia(0);
  background-repeat: no-repeat !important;
  transition: all 0.25s Ease;
}
.slick-next:hover,
.slick-prev:hover {
  filter: brightness(0);
}

.slick-prev {
  background-image: url("https://www.oshaonlinecenter.com/images/left.png") !important;
  left: -50px !important;
  height: 41px !important;
  width: 50px !important;
  background-repeat: no-repeat !important;
  transition: all 0.25s Ease;
  filter: invert(0) sepia(0);
}

.slick-arrow.slick-next::before,
.slick-arrow.slick-prev::before {
  display: none;
}
.max1 .slick-slider .slick-list {
  padding: 37px 0;
}
.max1 .card-img {
  height: 262px;
  border-radius: 0;
}
.max1 .card {
  height: 574px;

  margin: 0 29px;
  border-radius: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.max1 .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-5px);
  transition: all 0.5s;
}
.max1 .card-img-overlay {
  top: -36px;
  right: -29px;
  left: initial;
}
.max1 .card-img-overlay img {
  width: 90px;
}
.max1 .card .card-title {
  margin: 15px 0px;
  font-weight: 700;
}
.max1 .price {
  padding: 10px 0 0 0;
  display: flex;

  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ecec;
}
.max1 .price .s_card{
  color: #808080;
  font-size: 15px;
}
.max1 .price .small{
  display: block;
  font-size: 21px;
  font-weight: 700;
}
.max1 .border_col {
  border-right: 1px solid #000;
}

.max1 .card .card-text {
  margin-top: 37px;
}
.max1 .enroll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
}
.max1 .enroll .btn{
  text-align: center;
  background-color:#fff;
  border: 0;
  color:  orangered;
  font-size: 21px;
  font-weight:700;
}
.max1 .card .card-footer {
  background-color: #fff;
  padding: 0;
}
.play .btn-primary {
  --bs-btn-bg: none;
}
.play .approved {
  margin: 5rem 0px 3rem 0;

  text-align: center;
}
.play .approved .customers {
  font-weight: 700;
}
.play .auto_play .card {
  margin: 50px 22px;
  padding: 0 8px;
  height: 300px;
  text-align: center;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
.play .auto_play .card .card-body {
  position: relative;
}
.play .auto_play .card .card-body .image {
  width: 200px;
  margin: auto;
}

.play .slick-next {
  background-image: url("https://www.oshaonlinecenter.com/images/right.png") !important;
  display: block;
  right: -55px !important;
  height: 41px !important;
  width: 50px !important;
  filter: invert(0) sepia(0);
  background-repeat: no-repeat !important;
  transition: all 0.25s Ease;
}
.play .slick-prev {
  background-image: url("https://www.oshaonlinecenter.com/images/left.png") !important;
  left: -36 !important;
  height: 41px !important;
  width: 50px !important;
  background-repeat: no-repeat !important;
  transition: all 0.25s Ease;
  filter: invert(0) sepia(0);
}
.play .slick-next:hover,
.play .slick-prev:hover {
  filter: brightness(0);
}
.play .slick-arrow.slick-next::before,
.play .slick-arrow.slick-prev::before {
  display: none;
}
.play .auto_play .card .card-img-overlay {
  background-color: #00853e;
  border-radius: 72px;
  width: 5rem;
  height: 5rem;
  color: #fff;

  position: absolute;
  top: -44px;
  left: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.play .auto_play .card .card-img-overlay .icon img, svg{
  font-size:30px;
}
.play .auto_play .card .card-body .card-title {
  margin-top: 70px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 18px;
  height: 71px;
}
.play .auto_play .card .card-body .text-muted {
  display: flex;
  justify-content: center;
}
.play .auto_play .card .card-body .card-text {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.things {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  /* height:100vh; */
  text-align: center;
  padding: 4rem 0;
}
.things .need {
  font-weight: 700;
  letter-spacing: 1px;
}
.things .get {
  font-size: 20px;
  margin-bottom: 40px;
}
.things .t_container {
  display: flex;
  justify-content: center;
  /* padding: 0px 5rem; */
  width: 70%;
    margin: 0 auto;

  /* flex-wrap: wrap; */
}
.things .t_container .t-item{
  width:100%;
  margin: 8px 20px;

}
.things .t_container .t-item img {
  border-radius: 10px;
  width:100%;
  /* margin-right: 50px; */
}
.us {
  margin: 3rem 0;
}
.us .chos {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.us .certificate {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  flex-wrap: wrap;
}

.con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  height: 115px;
}
.us .certificate .con .icon {
  color: orangered;
}
.us .certificate .con .text {
  font-size: 18px;
  text-align: center;
  height: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.us .certificate .con .option {
  display: block;
}
.guide {
  margin-bottom: 40px;
}
.guide .make {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}
.guide .pass {
  text-align: center;
  margin-bottom:30px;
}
.guide .u_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.guide .u_container .u_item ul {
  list-style: none;
  margin-top: 2rem;
}
.guide .u_container .u_item ul li {
  margin-top: 5px;
  font-size: 18px;
}
.guide hr {
  width: 88%;
  margin: 0 auto;
  border: 1px solid;

  /* height:2px; */
}
.course {
  background-color: #1d1d1d;
}
.course .c_container {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
  flex-wrap: wrap;
}
.course .c_container .c_item ul {
  letter-spacing: 1px;
}
.course .c_container .c_item .category {
  color: #fff;
  margin: 40px 0;
  text-transform: uppercase;
}
.course .c_container .c_item ul {
  list-style: none;
}
.course .c_container .c_item ul .email a {
  text-transform: lowercase;
  letter-spacing: inherit;
}
.course .c_container .c_item ul li a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.course .c_container .c_item ul li a:hover {
  color: orangered;
}
.course .c_container .c_item ul li a span {
  display: block;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  letter-spacing: initial;
  text-transform: capitalize;
  margin-top: 20px;
}
.course .c_container .c_item .accept {
  color: #fff;
  margin-top: 20px;
  font-weight: 700;
}
.course .c_container .c_item hr {
  color: gray;
}

/* .course .c_container .borders{
  border-right:1px solid gray;
  padding-right:10px;
} */
.course .c_container .c_item .form-control {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  border: 0;

  margin: 20px 0;
}
.course .c_container .c_item .form-control::placeholder {
  color: gray;
  font-size: 16px;
}
.course .c_container .c_item .btn {
  width: 100%;
  background-color: orangered;
  color: #fff;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  /* letter-spacing: 1px; */
  text-transform: uppercase;
}
.course .c_container .c_item .form-control:focus {
  box-shadow: none;
}
.footer{
  background-color: #000;
  padding:20px 3rem;
}
.footer .ft_container{
  display: flex;
  justify-content: space-between;
  color:#fff;
  flex-wrap: wrap;

}

.footer .ft_container .ft_item .para{
 margin-bottom:0;
 color:gray;
}
.footer .ft_container .ft_item .para a{
  text-decoration: none;
  color:gray
}
.footer .ft_container .ft_item .span img, svg{
  margin:0 8px;
}
.section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .top-btn{
  font-size: 2.4rem;
  width:3rem;
  height:3rem;
  color:#fff;
  background-color: orangered;
  border-radius: 50%;
  position: fixed;
  bottom:6rem;
  right:1rem;
  z-index:999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.section .top-btn:hover{
  color:orangered;
  background-color:#fff;
}

.offcanvas.offcanvas-end{
  overflow-x: scroll;
}


@media screen and (max-width:1200px) {
  /* .max{
    padding:0;
  } */
  .max .logo img {
    width: 102px;
}
.max .navbar-expand-lg .icons{
  display: none;
}
.max .navbar-expand-lg .navbar-nav .nav-link{
  margin:0;
}
.max .navbar-expand-lg .navbar-nav .review{
  width: 65px;
  height: 33px;
  font-size: 11px;

}
.max .navbar-expand-lg .navbar-nav .reviews{
  width: 115px;
  height: 31px;
  font-size: 10px;

}
.max .navbar-expand-lg .navbar-nav .nav-link{
  font-size: 14px;

}

.us .certificate .con .text{
  font-size: 15px;

}
.guide .u_container .u_item ul li{
  font-size: 16px;

}
.play .auto_play .card .card-img-overlay{
  left:188px;
}

}
@media screen and (max-width:992px) {
  .header {
    display: none;
  }
  .max{
    padding: 3px 4rem;
  }
  .max1 .card {
    height: auto;
  }
  .show{
    display: block;
  }
  .play .auto_play .card .card-img-overlay {
    left: 131px;
}

}

@media screen and (max-width:768px) {
  .safety .priority{
    font-size: 28px;

  }   
  .play .approved .customers{
    font-size: 26px;

  } .play .approved{
    width: 80%;
    margin: 28px auto;
  }
.play .approved img{
  width:100%;
}

  .safety .video {
    width:560px;

  }
 .show1 .btn{
  width: 431px;
    font-size: 14px;
 }
 .things .t_container {
  flex-wrap: wrap;

}
.things .t_container .t-item{
width:100%
}
.play .auto_play .card .card-img-overlay {
  left: 90px;

}

.off_btn{
  display:initial;
  float:right
}
.off_btn:hover{
  transition: o.5s ease;
}
.us .certificate .con{
  width: 25%;
}
.max .navbar-expand-lg .navbar-nav .review{
  margin: 5px 17px 6px 0px;
  width: 83px;
  font-size: 14px;
  font-weight:600


}
.max .navbar-expand-lg .navbar-nav .reviews{
  margin: 5px 17px 6px 0px;
  width: 145px;

  /* width: 83px; */
  font-size: 14px;
  font-weight:600
}
}

@media screen and (max-width:576px) {   

.safety .priority {
  font-size: 19px;
}
.safety .need {
  font-size: 17px;
}
.safety .video{
  width:400px;
  height:300px;
}
.things .get {
  font-size: 16px;
}


.max1 .card {
  height: auto;
  margin:0;
}
.max1 .card .card-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.max1 .card-img{
  height: auto;

}
.max1 .card .card-title{
  font-size: 18px;
  height: 37px;

}
.slick-next {
  right:-59px !important;
}
/* .play .approved img{
  width: 325px;

} */
.show1{
  padding: 30px 3rem;

}
.show1 .btn{
  padding: 6px 12px;

}
.show1 .y_tube p {
  font-size: 13px;
}
.show1 .y_tube img, svg {
  width:38px;
}
.play .approved .customers{
  font-size: 21px;

}
.max1 .card-img-overlay{
  display: none;
}
.course .c_container {
  display: block;
}
.course .c_container .c_item .sub_item{
  padding: 0 26px;

}

.play .auto_play .card .card-img-overlay {
  display: none;
}
.play .auto_play .card {
  height: auto;

  margin:0 10px;
}
.play .auto_play .card .card-body .card-title{
  margin-top:22px;
  margin-bottom:0;
  font-size:14px;
  height: 91px;

}
.play .auto_play .card .card-body .card-text{
  height:34px;
  font-size:14px;
}
.play .auto_play .card .card-body img{
  width:111px;
}
.us .certificate .con{
  width: 50%;
}
.footer .ft_container{
  justify-content:center
}
.footer .ft_container .ft_item{
  margin-bottom: 5px;

}
}

@media (max-width:476px) {
  .safety .show_iframe {
    padding: 2rem;
  }  
  .safety .video {
      width: 100%;
      height: 100%;
    }
    .max{
      padding: 3px 2rem;

    }
    /* .footer .ft_container .f_item span{
      display: none;
    
    } */
}
@media (max-width:375px){
  .main_top .saving{
    font-size: 11px;
  }
  .main_top .saving span .btn{
    font-size: 12px;
  }
  .show1 .y_tube p {
    font-size: 12px;
}
.max1 .sell{
  font-size: 18px;
}
.max1 .price .small{
  font-size: 18px;
}
.max1 .enroll .btn{
  font-size: 17px;

}
.play .approved .customers {
  font-size: 18px;
}
.safety .priority {
  font-size: 18px;
}
.safety .need{
  font-size: 11px;
}
.things .need{
  font-size: 18px;

}
.things .get {
  font-size: 12px;
}
.us .chos{
  font-size: 18px;
}
.us .certificate .con .text {
  font-size: 12px;
}
.guide .make{
  font-size: 18px;
}
.guide .pass{
  font-size: 12px;
}
.guide .u_container .u_item ul li{
  font-size: 12px;
}
.course .c_container .c_item ul li a{
  font-size: 12px;
}
.course .c_container .c_item .category {
  font-size: 14px;
}
.course .c_container .c_item .accept{
  font-size: 14px;
}
.course .c_container .c_item .btn{
  font-size: 14px;
}
.course .c_container .c_item .form-control::placeholder {
  font-size: 12px;
}
.footer .ft_container .ft_item .para{
  font-size: 12px;
  text-align: center;
}

.show1 .y_tube img, svg{
  width:38px;
}
}
@media (max-width:320px){
  .max1 .card .card-title{
    font-size: 16px;
  }
  .max1 .price .small {
    font-size: 14px;
}
.max1 .enroll .btn {
  font-size: 12px;
}
.max1 .price .s_card{
  font-size: 12px;
}
.footer .ft_container .f_item .span .fb{
  width:27px;
}
}